$general-font: 'Poppins', sans-serif;
$title-font: 'Poiret One', cursive;

body,
p,
a,
span,
button {
  font-family: $general-font !important;
}

h1 {
  font-family: $title-font !important;
  font-size: 4.6rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  &:hover {
    color: rgba($color: #fff, $alpha: 0.5);
  }
}
ul {
  list-style-type: none;
}

.display-7 {
  font-size: 1.2rem;
  line-height: 1.5;
}
