$general-font: 'Poppins', sans-serif;
$title-font: 'Poiret One', cursive;

body,
p,
a,
span,
button {
  font-family: $general-font !important;
}

h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.myBtn {
  background-color: $green-primary !important;
  font-size: 1.1rem;
  color: #252525 !important;
  text-transform: none !important;
  font-weight: 400 !important;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  &:hover {
    background-color: #00a89a !important;
    color: #fff !important;
  }
}
