$general-font: 'Poppins', sans-serif;
$title-font: 'Poiret One', cursive;

body,
body::before,
body::before {
  font-family: $general-font !important;
}

h1 {
  font-family: $title-font !important;
  font-size: 4.6rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  &:hover {
    color: rgba($color: #fff, $alpha: 0.5);
  }
}
ul,
.list {
  list-style-type: none;
  // text-indent: -1.5rem;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1.7;
}

.text__lg {
  font-size: 1.2rem;
  line-height: 1.5;
}
.text__mid {
  font-size: 1.1rem;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
